.illustrated2_title_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  &.invert {
      flex-direction: row-reverse;
  }

  .layout_2_top {
    display: flex;
  }
}

