.layout_3_top {
  display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .content {
        margin-right: 174px;
        margin-left: 174px;
    }
}

.layout_3_bottom {
      align-items: center;
      justify-content: center;
      text-align: center;
  }