* {
  outline: 1px solid red;
}

.wrap {
  margin: 0 80px;
  padding: 0;
}

body {
  background-color: #F3F0E9;
  color: #101010;
}

h1 {
  font-family: 'Gradeur';
  font-size: 90px;
}

h2 {
  font-family: 'Gradeur';
  font-size: 70px;
}

h3 {
  font-family: 'Gradeur';
  font-size: 40px;
}

strong {
  font-family: 'HelveticaNeue-Bold';
}

p {
  font-family: 'Helvetica-Light';
  font-size: 24px;
  line-height: 30px;
}

.link {
  font-size: 25px;
  text-decoration: none;
  border: 1px solid #5F3121;
  border-radius: 50px;
  padding: 10px 24px;
  font-family: 'Helvetica-Light';
  color: #5F3121;

  &:hover {
      background-color: #5F3121;
      color: #F3F0E9;
  }
}

@media screen and (max-width: 768px) {

  .wrap {
    margin: 0 20px;
    padding: 0;
  }

  h1 {
    font-family: 'Gradeur';
    font-size: 45px;
  }

  h2 {
    font-family: 'Gradeur';
    font-size: 35px;
  }

  h3 {
    font-family: 'Gradeur';
    font-size: 25px;
  }

  p {
    font-family: 'Helvetica-Light';
    font-size: 16px;
    line-height: 30px;
  }

  .link {
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #5F3121;
    border-radius: 50px;
    padding: 10px 24px;
    font-family: 'Helvetica-Light';
    color: #5F3121;
  
    &:hover {
        background-color: #5F3121;
        color: #F3F0E9;
    }
  }
}