.quote_activism {
  padding: 120px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: #BF7862;
}

.content_quote_activism {
  display: flex;
  padding: 24px 110px;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background-color: #F0A695;

  p {
    margin: 0;
    font-family: "Gradeur";
    font-size: 50px;
    line-height: 60px;
    align-items: center;
    text-align: center;
  }

  #autor_activism {
    font-family: 'Helvetica-Light';
    font-size: 18px;
    text-align: center;
  }
}

.illustrated2_center_title_text_activism {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 138px 0 180px 0; 

  .layout_3_top_activism,
  .layout_3_bottom_activism {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .layout_3_top_activism {

    img {
      position: absolute;
      left: 10%;
      width: 70px;
    }

    .content_activism {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0 20px;
      text-align: center;
    }
  }

  .layout_3_bottom_activism {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;

    .paragraph {
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .wrap {
      margin: 20px 0;
    }

    .layout_3_top_activism,
    .layout_3_bottom_activism {
      flex-direction: column;

      img {
        max-width: 100%;
        margin: 0 auto;
      }

      .content_activism {
        margin: 10px 0;
      }
    }
  }
}

.illustrated1_title_text_activism {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  .wrap {
    .container_activism {
      display: flex;

      .layout_1_content_activism {
        h2 {
          margin: 16px 0 20px 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .wrap {
      margin: 20px 0;
    }

    .container_activism {
      flex-direction: column;
      align-items: center;

      .layout_1_content_activism {
        h2 {
          margin: 16px 0 10px 0;
        }
      }

      img {
        width: 200px;
        height: auto;
        margin-top: 20px;
      }
    }
  }
}
