.bio {
    display: flex;
    align-items: center;
    margin: 150px 0 153px 0;

    .bio_content {
        padding-right: 25px;

        h3 {
            margin: 16px 0 16px 0;
        }
    }

    img {
        align-self: flex-end;
    }
}

.values {
    background-color: #BF7862;
    color: #F3F0E9;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        padding: 68px 0 62px 0;
    }

    .parent {
        display: flex;
        justify-content: space-between;
        justify-items: stretch;
        align-items: flex-end;


        >div {
            margin-bottom: 100px;

            img {
                width: 100%;
                max-width: 270px;
            }

            h3 {
                margin-top: 50px;
            }
        }
    }
}

.curse {
    margin-bottom: 133px;

    h2 {
        text-align: center;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .parent-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 50px;
            gap: 100px;

            .default,
            .alt {
                flex: 1;
                text-align: center;
            }
        }

        img {
            width: 100%;
            max-height: 1100px; // Pour assurer que l'image ne dépasse pas la largeur du conteneur
        }
    }
}

// Media queries pour rendre le CSS responsive

@media screen and (max-width: 768px) {
    .bio {
        flex-direction: column;
        margin: 100px 0;

        .bio_content {
            padding-right: 0;
            text-align: center;
            margin-bottom: 20px;
        }

        img {
            align-self: center;
            margin-bottom: 20px;
        }
    }

    .values {
        h2 {
            padding: 40px 0;
        }

        .parent {
            flex-direction: column;

            >div {
                margin-bottom: 50px;
            }
        }
    }

    .curse {
        .parent-2 {
            flex-direction: column;

            .default,
            .alt {
                flex: none;
                width: 100%;

                >div {
                    margin-bottom: 10px;
                }
            }

            img {
                width: 100%;
                max-width: none;
                margin-bottom: 40px;
                top: auto;
                left: auto;
                transform: none;
                order: 0;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .bio {
        margin: 50px 0;

        .bio_content {
            margin-bottom: 10px;
        }
    }

    .values {
        h2 {
            padding: 20px 0;
        }

        .parent {
            >div {
                margin-bottom: 30px;
            }
        }
    }

    .curse {
        .parent-2 {

            .default,
            .alt {
                >div {
                    margin-bottom: 5px;
                }
            }

            img {
                margin-bottom: 20px;
            }
        }
    }
}